
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1 * var(--card-set-gep));
    margin-top: calc(-1 * var(--card-set-gep));
    // outline: 1px solid orange;
  }
    
  .customers__link {
    height: 92px; 
    width: 230px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: var(--card-set-gep);
    margin-top: var(--card-set-gep);
    
    @media screen and(min-width: 480px) {
      width: 210px;
      flex-basis: calc(100% / 2 - var(--card-set-gep));
    
    }
    @media screen and(min-width: 768px) {
      width: 226px;
      flex-basis: calc(100% / 3 - var(--card-set-gep));
    
    }
    @media screen and(min-width: 1200px) {
      width: 170px;
      flex-basis: calc(100% / 6 - var(--card-set-gep));
    
    }

    fill: #AFB1B8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
    border: 1px solid var(--accent-color);  
    fill: var(--accent-color);
    cursor: pointer;
    }
  }
  
  .customers__icon {
    width: 106px;
    height: 60px;
    fill: carentColor;    
  }