.footer {
    background-color: var(--hero-bg-color);
    }
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;  
  }
  
  /* ----footer-adress------ */
  .adress {
    min-width: 231px;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-right: 60px;
  }
  .logo--footer {  
    color: var(--btn-color);
    margin-bottom: 20px;
  }
  .adress__footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--btn-color);
    margin-bottom: 9px;
  }
  .adress__list {
    margin: 0;
  }
  .adress__item {
    margin-bottom: 9px;
  }
  .adress__item:last-child {
    margin-bottom: 0px;
  }
  .adress__cont {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
 
  
  /* -----------footer-soc---------------- */
  
  .footer-soc__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    }
  
  
  
  .footer-soc__link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
  }
  
  
  /* -------------footer-Form---------- */
  .footer-form {
  margin-left: 81px;
  }
  .footer-form__mail {
    display: flex;
  }
  .footer-form__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .footer-form__input--mail {
    // width: 380px;
    // height: 50px;
    background-color: transparent;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--portfol-btn);
    &:focus, 
    &:hover {
    border-color: var(--accent-color);
    outline: none;
    cursor: pointer;
    }
    &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
  }
  
  
  
  .footer-form__btn-wrap {
    // width: 200px;
    position: relative;
    margin-left: 12px;  
  }
  
  .footer-form__btn {
    // width: 100%;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;  
    outline: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-right: 62px;
    padding-left: 29px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--acent-btn-hover);
    }
  }
  
 
  
  .footer-form__icon-send {
    position: absolute;
    fill: var(--btn-color);
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
  }