.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
  position: relative;

  @media screen and (max-width: 767px) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 5px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 20px;
  }
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
    &__prelogo {
      color: var(--accent-color);
    }
  }

  .main-nav {
    display: flex;
    align-items: center; 
    flex-grow: 1;
    justify-content: space-between;
  }
  
  /* -----nav-menu----- */
.nav-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 93px;
}

  .nav {
  @media screen and (max-width: 767px){
    display: none;
}
}
.nav__list {
  display: flex;
}
  
.nav__item {
  @media screen and (min-width: 768px){
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
      }
  }    
}
  
  .nav__link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &.current::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -28px;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
  
  .current:hover,
  .current:focus,
  .current {
  color: #2196F3;
  }
  /* ----Heder-contact-nav----- */
.contact__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;    
  }
  @media screen and (max-width: 767px){
    display: none;
}
}

.contact__item {
  @media screen and (min-width: 480px) {
    & {
      margin: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      margin: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    & + & {
      margin-left: 30px;
    }
  }
}
  
  .contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .contact__icon {
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    fill: currentColor;
  }
  

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
    
  }

  .mobile-container {
    width: 100%;
    max-width: 420px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu-open-btn {
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
    border-color: transparent;
    fill: #212121;
    @media screen and (min-width:768px) {
      display: none;      
    }
    &:hover, &:focus {
      fill: #2196F3;
    }
    &>svg {
      width: 40px;
      height: 40px;
    }
  }
  
  .menu-close-btn {
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;  
    margin-bottom: 30px; 
    &:hover, &:focus {
      fill: #2196F3;
    }
    &>svg {
      width: 40px;
    }
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;  
  color: #212121;

  &:hover, &:focus {
    color: #2196F3;
  }
  
}

.mob-contact__list {
  margin-bottom: 64px;
}
.mob-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc__list {
  display: flex;
}

.mob-soc__item {
  &:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    margin-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
  }
}


.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}