.masters {
    background-color: var(--portfol-btn);
  }
  
  .masters__list {
    // outline: 1px solid orange;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
  }
  
  .card img {
    @media screen and (min-width: 768px)
      and (max-width: 1199px) {
      width: 354px;
      height: 374px;
    }   
  }
  .masters__item {
    width: 100%;
      margin-bottom: 30px;
    
      @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
      }
    
      @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
      }
    
      &:last-child {
        margin-bottom: 0;
      }    
  }
  
  .card {
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    padding-bottom: var(--card-set-gep);
  }
  
  .card__title {
    margin-top: var(--card-set-gep);
    margin-bottom: 0;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }
  .card__text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
  .masters-soc__list {
    margin-top: 16px;
  }
  
  .masters-soc__link {
    fill: #AFB1B8;
  }
  