.portfolio {
    padding-top: var(--padin-botom-sect);
    padding-bottom: var(--padin-botom-sect);  
}
  /* ----Filter-Button---- */
.filter__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}
.filter__item{
    margin-right: 8px;
    margin-bottom: 16px;
    &:last-child {
        margin-right: 0;
    }
}

.filter__btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--portfol-btn);
    border: 0;
    padding: 6px 22px;
    height: 38px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--btn-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    }
}


  /* ------Cards------- */
.cards__list {
    flex-wrap: wrap;
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
    @media screen and (min-width: 768px) {
        justify-content: unset;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.cards__link {
    position: relative;
}

// .cards__link img {
//     display: block;
//     max-width: 100%;
//     height: auto;
//     // height: 294px;
//     // @media screen and (min-width: 480px) {
//     //     width: 450px;
//     //     outline: 1px solid orange;
//     // }
//     // @media screen and (min-width: 768px) {
//     //     width: 354px;
//     //     outline: 1px solid green;
//     // }
//     // @media screen and (min-width: 1200px) {
//     //     width: 370px;
//     //     outline: 1px solid red;
//     // }
// }
.cards__top--wrap {
    position: relative;
    overflow: hidden;
}  
.cards__backgraund--text {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff; 
}

.cards__item {
    width: 100%;
    background-color: var(--btn-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .cards__backgraund--text,
    & a:focus .cards__backgraund--text {
        transform: translateY(0);  
    }
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
    }
    &--deskripion {
        border: 1px solid #EEEEEE;
        padding: 20px 24px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
}

.cards__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.cards__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
} 