.service {
    padding-bottom: var(--padin-botom-sect);
  }
  .service__title {
    margin-bottom: 50px;
  }
  .service__list {
    /* outline: 1px solid orange
    ; */
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gep));
    margin-top: calc(-1 * var(--card-set-gep));
  }
  
  .service__item {
    /* outline: 1px solid teal; */
    flex-basis: calc(100% / 3 - var(--card-set-gep));
    margin-left: var(--card-set-gep);
    margin-top: var(--card-set-gep);
  }
  