.backdrop {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal {
    width: 450px;
    min-height: 609px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    @media screen and (min-width: 1200px) {
      width: 528px;
    }

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0) rotate(180deg);
    }
    
    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.03em; 
      color: var(--title-color);
      margin-bottom: 12px;
    }
    
    &__field {
      margin-bottom: 10px;
    }

    &__label {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: var(--text-color);
      margin-bottom: 4px;
      display: block;
    }
      
    &__icon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);    
    }    
}
  
.modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

      &:focus, 
      &:hover {
      border-color: var(--accent-color);
      outline: none;
      cursor: pointer;
    }
    
      &:focus + .modal__icon,
      &:hover + .modal__icon {
      fill: var(--accent-color);
      cursor: pointer;
    }
    
      &-wrap {
      position: relative;  
    }
}
  
.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;

    &:focus,
    &:hover {
      border-color: var(--accent-color);
      outline: none;
    }
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
}

// -----modal-check-----

.check__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: start;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 8px; 
  } 
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
  }   
}

.check__input {   
  &:focus + .check__text::before, 
  &:hover + .check__text::before {
    border-color: var(--accent-color);
  }
  &:checked + .check__text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/modal/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.check__link {
  color: var(--accent-color);
  margin-left: 4px;
}
  // ---submit-btn-----
.modal-submit-btn {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--btn-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--acent-btn-hover);
  }
}