.section__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    @media screen and (max-width: 1199px) {
        font-size: 28px;
        line-height: 1.18;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}  


